@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Cairo', sans-serif;
}

.button {
  @apply text-lg md:text-xl font-bold
  flex items-center justify-center
  px-5 py-3 md:px-6 md:py-4 text-center
  rounded-2xl
  transition duration-300
  hover:cursor-pointer
  disabled:opacity-80 disabled:cursor-not-allowed;
}

.button-primary {
  @apply text-white bg-red-500 hover:bg-red-300;
}

.input {
  @apply text-base md:text-lg text-red-700 bg-white
    rounded-2xl px-4 py-3
    border border-gray-500
    focus:outline focus:outline-red-300 focus:outline-1
    focus:border-red-300
  placeholder-gray-700;
}

.input-container {
  @apply flex flex-col gap-2;
}

.label {
  @apply text-gray-500 font-bold text-base pl-4;
}

.bet-number {
  @apply flex items-center justify-center rounded-md
    w-10 h-10 sm:w-14 sm:h-14
    bg-red-300/[0.15]
    text-red-500 font-bold text-lg
    placeholder-red-500
    focus:border-red-500
    focus:outline focus:outline-red-500 focus:outline-1;
}

.bet-button {
  @apply border h-6 w-full rounded-md
    flex items-center justify-center
    transition-all duration-300 border-none
  bg-white hover:bg-red-100;
}

.date-picker-button {
  @apply flex items-center justify-center
    transition-all duration-300
  bg-white rounded-xl hover:bg-red-100
    disabled:bg-transparent disabled:cursor-not-allowed;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

th {
  @apply text-white bg-red-300 p-4  text-base text-left leading-5
    first:rounded-tl-lg first:pl-8 last:rounded-tr-lg last:pr-8;
}

td {
  @apply text-red-700 bg-gray-200 p-4 m-0 text-base text-left leading-5
    first:rounded-bl-lg first:pl-8 last:rounded-br-lg last:pr-8
    border-t-4 border-t-white;
}

.header-link {
  @apply border-b-[3px] border-b-transparent pb-4
  hover:border-b-white;
}

.header-link-active {
  @apply border-b-[3px] border-white;
}

.dialog {
  @apply min-w-[320px] bg-gray-50 text-red-700 rounded-xl shadow-xl
  border-2 border-red-500 flex-col items-center p-5 m-0
  top-2/4 left-2/4 transform -translate-x-2/4 -translate-y-2/4;
}
